.portalTitle {
	margin-left: 1%;
	margin-top: 1vh;
}

.loginTitle {
	margin-right: 1%;
	margin-top: 1vh;
}

.container {
	margin-top: 10%;
}

.buttonLogout {
	margin-right: 1%;
	margin-top: 1vh;
	border: none;
	background-color: transparent;
}
