.topBar {
	display: flex;
	margin-bottom: 3vh;
}

.title {
	margin: auto;
}

.hLine {
	width: 70%;
	border-top: 2px solid black;
	margin: 1% auto 50px auto;
}

.boardContainer {
	display: flex;
	flex-wrap: wrap;
	min-height: 75vh;
	width: 100%;
	max-width: 110vw;
	overflow: hidden;
}
.addPebble {
	display: flex;
	z-index: 2;
	margin-top: auto;
	margin-left: auto;
}

.pebble {
	display: flex;
	flex-direction: column;
	width: 450px;
	height: 300px;
	border: 1px solid darkgrey;
	border-radius: 20px;
	background-image: linear-gradient(
		rgba(240, 240, 250, 0.9),
		rgba(255, 255, 255, 0.9)
	);
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	margin: 10px;
}

.pebble::-webkit-scrollbar {
	display: none;
}

.pebble:active,
.pebble:focus {
	z-index: 1;
}

.pebbleTitle {
	margin: 0 auto 0 auto;
	padding: 10px;
	font-weight: 800;
}

.pebbleText {
	padding: 10px;
}

.pebbleImage {
	width: 450px;
	height: 300px;
	border: 1px solid darkgrey;
	border-radius: 20px;
	object-fit: cover;
	margin: 10px;
}

.saveButton {
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 2rem;
	margin-left: 46vw;
	width: 200px;
	padding: 0 10px 0 10px;
	margin-bottom: 1%;
}
.saveButton:hover {
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: rgb(120, 120, 120);
}

.saveButton:active {
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: rgb(120, 120, 120);
}
